// variables

// font
$main-font: "Kumbh Sans", sans-serif;

// primary text color
$primary-color-dark: hsl(238, 29%, 16%);
$primary-color-red: hsl(14, 88%, 65%);

// neutral text
$neutral-color-dark: hsl(237, 12%, 33%);
$neutral-color-gray: hsl(240, 6%, 50%);

// dividers
$dividers: hsl(240, 5%, 91%);

// background gradient
$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(175, 103, 233, 1) 0%,
  rgba(101, 101, 231, 1) 100%
);
