.main {
  width: 100%;
  height: 100vh;
  background-image: $bg-gradient;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    width: 92rem;
    height: 51.2rem;
    background-color: white;
    border-radius: 4rem;
    box-shadow: -0.2rem 5.4rem 4.3rem rgba($color: #000000, $alpha: 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    position: relative;

    @include rwd(large) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      width: 32.8rem;
      height: 53.5rem;
    }
  }

  &__contentImg {
    position: relative;
    overflow: hidden;

    @include rwd(large) {
      overflow: unset;
    }
  }

  &__paternDesk {
    width: 209%;
    height: 190%;
    display: block;
    position: absolute;
    top: -30rem;
    left: -55.2rem;
    z-index: 1;

    @include rwd(large) {
      width: 24rem;
      height: 23.7rem;
      top: -13.3rem;
      left: 4rem;
    }
  }

  &__illustrationDesk {
    position: absolute;
    width: 104.5%;
    height: 70%;
    top: 8rem;
    left: -8rem;
    z-index: 2;

    @include rwd(large) {
      width: 24rem;
      height: 18.2rem;
      top: -11rem;
      left: 4rem;
    }
  }

  &__boxDesk {
    position: absolute;
    width: 18.5rem;
    top: 20.9rem;
    left: -9rem;
    z-index: 10;

    @include rwd(large) {
      width: 10rem;
      height: 9.6rem;
      top: -4.3rem;
      left: 3.1rem;
    }
  }
}
