.main {
  &__wrapFaq {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include rwd(medium) {
      height: 0;
      z-index: 10;
    }
  }

  &__contentFaq {
    width: 100%;
    padding-right: 6rem;

    @include rwd(large) {
      padding-right: 4rem;
    }

    @include rwd(medium) {
      padding: 2.3rem;
      margin-top: 7.8rem;
    }

    @include rwd(small) {
      margin-top: 3.8rem;
    }
  }

  &__title {
    font-size: 3.3rem;
    color: $primary-color-dark;

    @include rwd(large) {
      font-size: 2.8rem;
    }

    @include rwd(medium) {
      text-align: center;
    }
  }

  &__wrapQuestion {
    border-bottom: 1px solid $dividers;

    &.active .main__answer {
      height: auto;
      padding-bottom: 2rem;
    }

    &.active .main__question {
      color: $primary-color-dark;
      font-weight: 700;
    }

    &.active .main__arrow {
      transform: rotate(0.5turn);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    @include rwd(large) {
      padding: 1.5rem 0;
    }
  }

  &__question {
    font-size: 1.6rem;
    color: $neutral-color-dark;
    transition: all 200ms ease-out;
    cursor: pointer;

    &:hover {
      color: $primary-color-red;
    }

    @include rwd(large) {
      font-size: 1.3rem;
    }
  }

  &__answer {
    position: relative;
    color: $neutral-color-gray;
    height: 0;
    overflow: hidden;
    transition: all 250ms;
    overflow-y: auto;
  }

  &__arrow {
    width: fit-content;
    padding: 0.6rem;
    cursor: pointer;
    transition: all 200ms ease-out;
  }
}
